@import "base";
@import "mixin";
a{
    text-decoration: none;
    color: #444;
}
body{
    font-family: DellReplica-Regular,Trebuchet MS,Microsoft YaHei;
    background: #fff;
}
.wrap{
    margin: 0 auto;
}
#masthead{
    background: #eee;
    .header{
        font-size: 12px;
        height: 37px;
        .wrap{
            width: 1120px;
            height: 37px;
            div{
                float: left;
                line-height: 37px;
                height: 37px;
            }
            .sign{
                a{
                    padding: 0 10px;
                }
            }
            .other{
                float: right;
                li{
                    float: left;
                    line-height: 37px;
                    height: 37px;
                    a{
                        padding: 0 8px;
                        border-right: 1px solid #444;
                        &.otherlast{
                            border: 0;
                        }
                    }
                }
            }
        }
    }
    .head{
        height: 100px;
        background-color: #f9f9f9;
        .wrap{
            height: 100px;
            width: 1140px;
            .headlogo{
                width: 250px;
                height: 100px;
                position: relative;
                float: left;
                .headlogo1{
                    width:100%;
                    height: 100px;
                }
                .headlogo2{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            .pic{
                img{
                    width: 322px;
                    height: 97px;
                    float: left;
                }
                .pic3{
                    width: 239px;
                }
            }
        }
    }
}
.menu{
    clear: both;
    background: #f9f9f9;
    position: relative;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    .wrap{
        width: 1120px;
        height: 38px;
        ul{
            li{
                width: 72px;
                height: 38px;
                float: left;
                text-align: center;
                a{
                   color: #444;
                   line-height: 38px;
                   font-size: 14px;
                    
                }
            }
            .menu1{
                width: 132px;
                background: #eee;
            }
            .menu3{
                width: 82px;
                background: #ce1125;
                font-weight: bold;
                a{
                    color: #fff;
                }
            }
            .menu6{
                width: 100px;
            }
            .menu7{
                width: 100px;
            }
            .menu8{
                width: 118px;
            }
            .menu9{
                width: 176px;
            }
        }
        .search{
            position: absolute;
            left: 1000px;
            top: 5px;
            input{
                width: 172px;
                border: 1px solid #444;
                border-radius: 20px;
                text-indent: 5px;
                float: left;
                margin-right: 0;
                height: 24px;
                line-height: 24px;
                padding: 0 10px;
                border: 1px solid #444;
                background:#f9f9f9;
                outline:0px;
            }
            img{
                position: absolute;
                top: 5px;
                left: 170px;
            }
        }
    }

    .select{
        position: absolute;
        top: 38px;
        left: 70px;
        z-index: 999;
        display: none;
        .goodslist{
            height: 200px;
            &>ul{
                width: 100px;
                height: 200px;
                background: rgba(105,101,101,.6);
                &>li{
                    width: 100px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .goodsbox{
            width: 450px;
            height: 200px;
            background:#fff;
            position: absolute;
            top: 0px;
            left: 100px;
            ul{
                width: 400px;
                margin: 0 auto;
                li{
                    float: left;
                    width: 100px;
                    height: 75px;
                    margin-top: 10px;
                    h4{
                        font-size: 12px;
                        text-indent: 5px;
                        margin-top: 5px;
                        color: #444;
                    }
                }
            }
        }
    }
}

.listsbox{
    overflow: hidden;
    background: #fff;
    position: relative;

    .listbox{
        width: 793px;
        margin: 20px auto;
        font-size: 12px;
        .name{
            width:793px ;
            height: 40px;
            line-height: 40px;
            th{
                height: 40px;
                text-align: center;
                background: #ececec;
                color: 000;
                border-bottom: 1px dashed #eee;
            }
        }
        tbody{
            tr{
                border-bottom: 1px dashed #eee;
                td{
                    height: 104px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    img{
                        width: 79px;
                        height: 79px;
                        border: #dadada 1px solid;
                        vertical-align: middle;
                        text-align: center;
                    }
                    button{
                        position: static;
                        background: #fff;
                        width: 22px;
                        height: 22px;
                        line-height: 22px;
                        left: 0;
                        text-align: center;
                        float: left;
                        color: #0085C3;
                        border: 0;
                        outline:0px;
                        border: 1px solid #ccc;
                        cursor: pointer;
                    }
                    .num{
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        font-size: 16px;
                        width: 24px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        float: left;
                    }
                    span{
                        font-size: 12px;
                    }
                    u{
                        color: #0085C3;
                        cursor: pointer;
                    }
                }
                .td{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .bodybottom{
        width: 793px;
        height: 50px;
        background: #ececec;
        margin: 0 auto;
        position: relative;
        div{
            color: orangered;
            position: absolute;
        }
        .delete{
            width: 70px;
            height: 30px;
            font-size:12px;
            background:  orangered;
            top: 10px;
            left:10px;
            text-align: center;
            color: #fff;
            line-height: 30px;
            cursor: pointer;
        }
        .heji{
            top: 40%;
            right: 180px;
        }
        .allprice{
            top: 40%;
            right: 100px;
        }
        .go{
            width: 70px;
            height: 30px;
            font-size:12px;
            background:  orangered;
            top: 10px;
            right: 10px;
            text-align: center;
            color: #fff;
            line-height: 30px;
            cursor: pointer;
        }
    }
}

.others{
    width: 100%;
    height: 500px;
    .bigpicbox{
        width: 900px;
        height: 500px;
        margin: 20px auto;
        .picbox{
            margin: 20px;
            width: 229px;
            height: 200px;
            float: left;
            border: 1px solid #dadada;
            .join{
                width: 70px;
                height: 30px;
                font-size:12px;
                background:  orangered;
                text-align: center;
                color: #fff;
                line-height: 30px;
                cursor: pointer;
                margin: auto;
            }
        }
    }
}

.bottom2{
    background-color:#444 ;
    .botmenu{
        height: 33px;
        margin: 0 35px 15px 35px;
        padding: 8px;
        border-bottom: 1px solid gray;
        li{
            height: 24px;
            padding: 2px 7px;
            float: left;
            a{
                font-size: 12px;
                color: #fff;
            }
        }
    }
    .footer{
        width: 1140px;
        height: 152px;
        padding: 0 15px;
        overflow: hidden;
        font-family: 'roboto',Arial,Helvetica,sans-serif;
        font-size: 11px;
        line-height: 1.6em;
        letter-spacing: .04em;
        font-weight: 200;
        color: #fff;
        margin: 0 35px;
        a{
            color:  #fff;
        }
        p{
            text-align: center;
        }
    }
}