@import "base";
@import "mixin";
a{
    text-decoration: none;
}
body{
    background: #edefee;
    font-family:AlienwareRegular,'roboto',Arial,Helvetica,sans-serif;
}
.header{
    width: 100%;
    background: #171719;
    position: fixed;
    z-index: 9999;
    .wrap{
        position: relative;
        height: 50px;
        width: 1000px;
        margin:0 auto;
        overflow: hidden;
        ul {
            li{
                float: left;
                position: relative;
                margin-right:0;
                display:list-item;
                a{
                    position: relative;
                    padding: 0;
                    width: 88px;
                    display: block;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #c3c3c3;
                    font-size: 16px;
                    cursor: pointer;
                    &.onsale{
                        background: url(../images/goodslist/fire.png) no-repeat 90% 13px ;
                    }
                    &.first{
                        width: 44px;
                        .logo{
                            width: 44px;
                            height: 44px;
                        }
                    }
                    &.last1{
                        width: 50px;
                        height: 50px;
                        
                    }
                    &.last2{
                        width: 185px;
                        font-size: 14px;
                        padding-left: 10px;
                        background: url(../images/goodslist/loo.png) no-repeat left center;
                    }
                }
                &.active{
                    background: #eee;
                    color: #000;
                }
                
            }
            
        }
    }
}

.height{
    height: 50px;
}

.list1{
    width:454px;
    height: 126px;
    position: fixed;
    top: 50px;
    left: 80px;
    background: url(../images/home/list1.jpg) no-repeat;
    z-index: 999;
    display: none;
}
.list2{
    width:454px;
    height: 126px;
    position: fixed;
    top: 50px;
    left: 250px;
    background: url(../images/home/list2.jpg) no-repeat;
    z-index: 999;
    display: none;
}
.list3{
        width:270px;
        height:34px;
        
        border:10px solid #fff;
        position: fixed;
        top: 50px;
        right: 100px;
        display: none;
        .input1{
            width:200px;
            height: 32px;
            background:#eee;
            text-indent:4px;
            border: 0.5px solid #000;
            color:#757575;
            float: left;
        }
        .input2{
            width:69px;
            height: 35px;
            background:#000;
            text-align:center;
            border: 1px solid #000;
            color:#fff;
            float: left;
        }
    }


.intellogo{
    width: 100%;
    height: 90px;
    background: #eee;
    .wrap{
        width: 1200px;
        height: 79px;
        padding-top: 10px;
        text-align: right;
    }
}

.banner{
    height: 600px;
    overflow: hidden;
    position: relative;
    .bannerbox{
        height: 600px;
        width:5052px;
        position: relative;
        ul{
            position: absolute;
            top: 0;
            left: 0;
            li{
                width:1263px;
                height: 600px;
                float: left;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            
        }
    }
    .bannerbottom{
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 50px;
        left: 0;
        ol{
            float: left;
            position: absolute;
            left: 600px;
            li{
                width: 10px;
                height: 10px;
                margin: 0 3px;
                background: #fff;
                border-radius: 50%;
                cursor: pointer;
                float: left;
                &.active1{
                    background: #0084c8;
                }
            }
        }
    }
}

.goodslist1{
    width: 100%;
    height: 807px;
    background:url(../images/goodslist/listbg.png) no-repeat top;
    display: flex;
    align-items: center;
    justify-content: center;
    .goodswrap{
        width: 1200px;
        height: 622px;
        margin-top: 150px;
        .img{
            width: 390px;
            height: 622px;
            position: relative;
            float: left;
            margin-right: 10px;
            background: #fff;
            .xinpin{
                position: absolute;
                top: 0;
                left: 0;
            }
            .bg{
                width: 390px;
                height: 329px;
            } 
            .content{
                height: 310px;
                padding: 0 14.5px;
                h4{
                    height: 42px;
                    font-size: 15px;
                    color: #807C7D;
                    line-height: 21px;
                    font-weight: normal;
                }
                h2{
                    height: 22px;
                    font-size: 22px;
                    color: #2d2d2d;
                    font-weight: normal;
                    padding: 10px 0;
                    line-height: 100%;
                }
                .p1{
                    font-size: 15px;
                    padding: 0 0 10px 0;
                    height: 45px;
                    line-height: 150%;
                }
                .price{
                    padding: 10px 0;
                    height: 40px;
                    font-size: 28px;
                    color: #37cad0;
                    overflow: hidden;
                }
                .sc_btn{
                    cursor: pointer;
                    img{
                        height: 24px;
                        width: auto;
                    }
                }
                .p2{
                    height: 30px;
                    color: #37cad0;
                    height: 20px;
                    clear: both;
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                                    
                }
            }              
        }
    }
}

.title{
    width: 100%;
    height: 172px;
    background: url(../images/goodslist/ia_13500000083.jpg) no-repeat center;
}

.goodslist2{
    width: 100%;
    height: 452px;
    .images{
        width: 600px;
        height: 452px;
        float: left;
    }
    .config{
        width: 600px;
        height: 432px;
        float: left;
        padding:22px 0 0 24px;
        h2{
            width: 576px;
            height: 38px;
            color: #2d2d2d;
            font-size: 38px;
            padding:13px 0;
            font-weight: normal;
            line-height: 100%;
        }
        h4{
            width: 576px;
            height: 29px;
            color: #333;
            font-size: 22px;
            margin-bottom:22px;
            font-weight: normal;
            line-height: 100%; 
        }
        .ico{
            margin-bottom: 16px;
        }
        p{
            color: #333;
            font-size: 20px;
            height: 30px;
            width: 100%;
            padding: 0px 0 10px 0;
        }
        .price{
            width: 38%;
            float: left;
            position: relative;
            padding: 30px 0 10px;
            font-size: 38px;
            color: #37cad0;
            overflow: hidden;
            del{
                position: absolute;
                top: 12px;
                left: -13px;
                color: #666;
                font-size: 16px;
                padding-left: 20px;
            }
        }
        
        .sc_btn{  
            width: 158px;
            height: 33px;
            margin-right: 55px;
            cursor: pointer;
            img{
                height: 33px;
                width: auto;
            }
        }
    }
    
}

.goodslist3{
    width: 100%;
    height: 622px;
    display: flex;
    align-items: center;
    justify-content: center;
    .goodswrap{
        width: 1200px;
        height: 622px;
        .img{
            width: 390px;
            height: 622px;
            position: relative;
            float: left;
            margin-right: 10px;
            background: #fff;
            .xinpin{
                position: absolute;
                top: 0;
                left: 0;
            }
            .bg{
                width: 390px;
                height: 329px;
            } 
            .content{
                height: 310px;
                padding: 0 14.5px;
                h4{
                    height: 42px;
                    font-size: 15px;
                    color: #807C7D;
                    line-height: 21px;
                    font-weight: normal;
                }
                h2{
                    height: 22px;
                    font-size: 22px;
                    color: #2d2d2d;
                    font-weight: normal;
                    padding: 10px 0;
                    line-height: 100%;
                }
                .p1{
                    font-size: 15px;
                    padding: 0 0 10px 0;
                    height: 45px;
                    line-height: 150%;
                }
                .price{
                    padding: 10px 0;
                    height: 40px;
                    font-size: 28px;
                    color: #37cad0;
                    overflow: hidden;
                    del{
                    
                        color: #666;
                        font-size: 16px;
                        padding-left: 20px;
                    }
                }
                .sc_btn{
                    cursor: pointer;
                    img{
                        height: 24px;
                        width: auto;
                    }
                }
                .p2{
                    height: 30px;
                    color: #37cad0;
                    height: 20px;
                    clear: both;
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                                    
                }
            }              
        }
    }
}

.goodslist5{
    width: 100%;
    height: 622px;
    display: flex;
    align-items: center;
    justify-content: center;
    .goodswrap{
        width: 1200px;
        height: 622px;
        .img{
            width: 390px;
            height: 622px;
            position: relative;
            float: left;
            margin-right: 10px;
            background: #fff;
            .xinpin{
                position: absolute;
                top: 0;
                left: 0;
            }
            .bg{
                width: 390px;
                height: 329px;
            } 
            .content{
                height: 310px;
                padding: 0 14.5px;
                h4{
                    height: 42px;
                    font-size: 15px;
                    color: #807C7D;
                    line-height: 21px;
                    font-weight: normal;
                }
                h2{
                    height: 22px;
                    font-size: 22px;
                    color: #2d2d2d;
                    font-weight: normal;
                    padding: 10px 0;
                    line-height: 100%;
                }
                .p1{
                    font-size: 15px;
                    padding: 0 0 10px 0;
                    height: 45px;
                    line-height: 150%;
                }
                .price{
                    padding: 10px 0;
                    height: 40px;
                    font-size: 28px;
                    color: #37cad0;
                    overflow: hidden;
                    del{
                    
                        color: #666;
                        font-size: 16px;
                        padding-left: 20px;
                    }
                }
                .sc_btn{
                    cursor: pointer;
                    img{
                        height: 24px;
                        width: auto;
                    }
                }
                .p2{
                    height: 30px;
                    color: #37cad0;
                    height: 20px;
                    clear: both;
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                                    
                }
            }              
        }
    }
}

.title2{
    width: 100%;
    height: 172px;
    background: url(../images/goodslist/ia_13500000085.jpg) no-repeat center;
}

.goodslist4{
    width: 100%;
    height: 1350px;
    display: flex;
    align-items: center;
    justify-content: center;
    .goodswrap{
        width: 1200px;
        height: 1350px;
        .img{
            width: 390px;
            height: 670px;
            position: relative;
            float: left;
            margin:0 10px 10px 0;
            background: #fff;
            
            .xinpin{
                position: absolute;
                top: 0;
                left: 0;
            }
            .bg{
                width: 390px;
                height: 329px;
            } 
            .content{
                height: 340px;
                padding: 0 14.5px;
                h4{
                    height: 42px;
                    font-size: 15px;
                    color: #807C7D;
                    line-height: 21px;
                    font-weight: normal;
                }
                h2{
                    height: 42px;
                    font-size: 22px;
                    color: #2d2d2d;
                    font-weight: normal;
                    padding: 10px 0;
                    line-height: 100%;
                }
                .p1{
                    font-size: 15px;
                    padding: 0 0 10px 0;
                    height: 55px;
                    line-height: 150%;
                }
                .price{
                    padding: 10px 0;
                    height: 40px;
                    font-size: 28px;
                    color: #37cad0;
                    overflow: hidden;
                    del{
                    
                        color: #666;
                        font-size: 16px;
                        padding-left: 20px;
                    }
                }
                .sc_btn{
                    cursor: pointer;
                    img{
                        height: 24px;
                        width: auto;
                    }
                }
                .p2{
                    height: 30px;
                    color: #37cad0;
                    height: 20px;
                    clear: both;
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                                    
                }
            }              
        }
    }
}
.goodslist6{
    width: 100%;
    height: 622px;
    display: flex;
    align-items: center;
    justify-content: center;
    .goodswrap{
        width: 1200px;
        height: 622px;
        .img{
            width: 390px;
            height: 670px;
            position: relative;
            float: left;
            margin:0 10px 10px 0;
            background: #fff;
            
            .xinpin{
                position: absolute;
                top: 0;
                left: 0;
            }
            .bg{
                width: 390px;
                height: 329px;
            } 
            .content{
                height: 340px;
                padding: 0 14.5px;
                h4{
                    height: 42px;
                    font-size: 15px;
                    color: #807C7D;
                    line-height: 21px;
                    font-weight: normal;
                }
                h2{
                    height: 42px;
                    font-size: 22px;
                    color: #2d2d2d;
                    font-weight: normal;
                    padding: 10px 0;
                    line-height: 100%;
                }
                .p1{
                    font-size: 15px;
                    padding: 0 0 10px 0;
                    height: 55px;
                    line-height: 150%;
                }
                .price{
                    padding:30px 50px 10px 0px;
                    height: 40px;
                    font-size: 28px;
                    color: #37cad0;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    del{
                        position: absolute;
                        top: 0;
                        left: -13px;
                        color: #666;
                        font-size: 16px;
                        padding-left: 20px;
                    }
                }
                .sc_btn{
                    cursor: pointer;
                    img{
                        height: 24px;
                        width: auto;
                    }
                }
                .p2{
                    height: 30px;
                    color: #37cad0;
                    height: 20px;
                    clear: both;
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                                    
                }
            }              
        }
    }
}
.news{
    width: 100%;
    height: 255px;
    overflow: hidden;
    background-color: #101012;
    margin-top: 150px;
    .ul1{
        width: 1200px;
        height: 100px;
        border-bottom: 1px solid #fff;
        margin: 0 27px;
        li{
            float: left;
        }
    }
    .ul2{
        width: 1200px;
        height: 155px;
        margin: 0 27px;
        li{
            float: left;
        }
    }
}

.bottom1{
    height: 45px;
    background: #EEEEEE;
    .btmbox{
        margin: 0 35px;
        width:1170px;
        height: 45px;
        ul{
            margin-left: 16px;
            li{
                float: left;
                padding:  12px 10px 12px 0;
                a{
                    font-size: 14px;
                    color: #444;
                }
            }
        }
        
        .area{
            overflow: hidden;
            position: relative;
            float: right;
            padding:  12px 10px 12px 0;
            a{
                margin-right: 18px;;
                font-size: 14px;
                color: #444;
                img{
                    position: absolute;
                    top:-22px;
                    right: 0;
                }
            }
            
        }
    }
}

#scroll{
    height: 50px;
    width: 50px;
    position: fixed;
    top:600px;
    right: 20px;
    &.act{
        display: none;
        background: url(../images/home/scroll.png) no-repeat;
        background-size:50px 50px;
    }
}

.fix{
    position: fixed;
    top:70px;
    right: -155px;
    width: 213px;
    height: 305px;
    z-index: 999;
    .fix1{
        position: absolute;
        width: 26px;
        height: 26px;
        top: 10px;
        left: -26px;
        overflow: hidden;
        .anniu{
            position: absolute;
            top:0;
            left: 0;
        }
    }
    .fix2{
        .pic2{
            position: absolute;
            top: 305px;
            left: 0;
            display: none;
        }
    }
}

.bottom2{
    background: url(../images/home/bg.png) no-repeat;
    background-color:#007DB8 ;
    .menu{
        height: 33px;
        margin: 0 35px 15px 35px;
        padding: 8px;
        li{
            height: 24px;
            padding: 2px 7px;
            float: left;
            a{
                font-size: 12px;
                color: #fff;
            }
        }
    }
    .footer{
        width: 1140px;
        height: 152px;
        padding: 0 15px;
        overflow: hidden;
        font-family: 'roboto',Arial,Helvetica,sans-serif;
        font-size: 11px;
        line-height: 1.6em;
        letter-spacing: .04em;
        font-weight: 200;
        color: #cce7f3;
        opacity: .6;
        margin: 0 35px;
        a{
            color:  #cce7f3;
        }
        p{
            text-align: center;
        }
    }
}